/**SEASON**/

.summerbaby {
    --trait-image: url(https://images2.imgbox.com/a5/52/6buD0kYW_o.png);
    --trait-tooltip: "born in summer";
}

.springbaby {
    --trait-image: url(https://images2.imgbox.com/14/24/rHeWwjTW_o.png);
    --trait-tooltip: "born in spring";
}

.fallbaby {
    --trait-image: url(https://images2.imgbox.com/78/d3/JqDN5rEW_o.png);
    --trait-tooltip: "born in fall";
}

.winterbaby {
    --trait-image: url(https://images2.imgbox.com/04/54/2ouaRSBS_o.png);
    --trait-tooltip: "born in winter";
}

/**LOVE & RELATIONSHIPS**/

.heartache {
    --trait-image: url(https://images2.imgbox.com/ed/58/Kc85Y0vJ_o.png);
    --trait-tooltip: "heartache";
}
.flirt {
    --trait-image: url(https://images2.imgbox.com/2e/0f/yFEEPMHf_o.png);
    --trait-tooltip: "is a flirt";
}
.simp {
    --trait-image: url(https://images2.imgbox.com/37/ad/lWE3EaLm_o.png);
    --trait-tooltip: "is a simp";
}
.love {
    --trait-image: url(https://images2.imgbox.com/bd/20/Ay2JfWAK_o.png);
    --trait-tooltip: "in love";
}

.engaged {
    --trait-image: url(https://images2.imgbox.com/ff/27/PvSuskPC_o.png);
    --trait-tooltip: "engaged";
}
.married {
    --trait-image: url(https://i.servimg.com/u/f17/20/56/04/31/rings10.png);
    --trait-tooltip: "married";
}

.cheated {
    --trait-image: url(https://images2.imgbox.com/04/10/3DWH59jw_o.png);
    --trait-tooltip: "cheated";
}

.mommy {
    --trait-image: url(https://images2.imgbox.com/b1/39/EeAxc5p2_o.png);
    --trait-tooltip: "mommy issues";
}

.daddy {
    --trait-image: url(https://images2.imgbox.com/19/a7/SWY7byQX_o.png);
    --trait-tooltip: "daddy issues";
}

.parent {
    --trait-image: url(https://images2.imgbox.com/11/f7/LVneTQst_o.png);
    --trait-tooltip: "parent";
}

/**SKILLS**/

.hunter {
    --trait-image: url(https://images2.imgbox.com/16/42/EMOj1BEa_o.png);
    --trait-tooltip: "hunter";
}
.swordsman {
    --trait-image: url(https://images2.imgbox.com/36/18/xWH6iGrA_o.png);
    --trait-tooltip: "swordsman";
}

.soldier {
    --trait-image: url(https://images2.imgbox.com/30/7e/RNf6mMTn_o.png);
    --trait-tooltip: "solder";
}
/**BENDING**/


.lightning {
    --trait-image: url(https://images2.imgbox.com/14/e5/IUybRKeW_o.png);
    --trait-tooltip: "lightningbender";
}

.blood {
    --trait-image: url(https://images2.imgbox.com/eb/4d/ulVcumWn_o.png);
    --trait-tooltip: "bloodbender";
}

.healer {
    --trait-image: url(https://images2.imgbox.com/84/dc/gBuvDC6r_o.png);
    --trait-tooltip: "healer";
}

/**STATUS**/

.commoner {
    --trait-image: url(https://images2.imgbox.com/f3/cc/UQfrCM7W_o.png);
    --trait-tooltip: "commoner";
}

.nobility {
    --trait-image: url(https://images2.imgbox.com/03/9e/XQPzSLch_o.png);
    --trait-tooltip: "nobilty";
}

.royalty {
    --trait-image: url(https://images2.imgbox.com/cc/ee/NtP0pcfx_o.png);
    --trait-tooltip: "royalty";
}

.wanted {
    --trait-image: url(https://images2.imgbox.com/af/09/GYi7tMgQ_o.png);
    --trait-tooltip: "wanted";
}

.criminal {
    --trait-image: url(https://images2.imgbox.com/b3/59/RQjXxcZ7_o.png);
    --trait-tooltip: "criminal";
}

/**TRAITS**/

.bookworm {
    --trait-image: url(https://images2.imgbox.com/66/50/9IVA9UlM_o.png);
    --trait-tooltip: "bookworm";
}

.vegetarian {
    --trait-image: url(https://images2.imgbox.com/38/b4/7vFx2S3n_o.png);
    --trait-tooltip: "vegetarian";
}

.carnivore {
    --trait-image: url(https://images2.imgbox.com/4a/0a/VagQfLHZ_o.png);
    --trait-tooltip: "carnivore";
}

.tea {
    --trait-image: url(https://images2.imgbox.com/62/28/pWMn1zXg_o.png);
    --trait-tooltip: "tea connoisseur";
}

.spice {
    --trait-image: url(https://images2.imgbox.com/11/87/sovzw7Ka_o.png);
    --trait-tooltip: "likes spice";
}

.traveller {
    --trait-image: url(https://images2.imgbox.com/88/85/k3BW1rEF_o.png);
    --trait-tooltip: "traveller";
}

/**MISC**/

.pet {
    --trait-image: url(https://images2.imgbox.com/a5/f2/fbQQsNma_o.png);
    --trait-tooltip: "pet owner";
}

.mount {
    --trait-image: url(https://images2.imgbox.com/cb/5f/NNaOCGhx_o.png);
    --trait-tooltip: "has a mount";
}
