/**SEASON**/

.summerbaby {
    --award-image: url(https://images2.imgbox.com/a5/52/6buD0kYW_o.png);
    --award-tooltip: "born in summer";
}

.springbaby {
    --award-image: url(https://images2.imgbox.com/14/24/rHeWwjTW_o.png);
    --award-tooltip: "born in spring";
}

.fallbaby {
    --award-image: url(https://images2.imgbox.com/78/d3/JqDN5rEW_o.png);
    --award-tooltip: "born in fall";
}

.winterbaby {
    --award-image: url(https://images2.imgbox.com/04/54/2ouaRSBS_o.png);
    --award-tooltip: "born in winter";
}

/**LOVE & RELATIONSHIPS**/

.heartache {
    --award-image: url(https://images2.imgbox.com/ed/58/Kc85Y0vJ_o.png);
    --award-tooltip: "heartache";
}
.flirt {
    --award-image: url(https://images2.imgbox.com/2e/0f/yFEEPMHf_o.png);
    --award-tooltip: "is a flirt";
}
.simp {
    --award-image: url(https://images2.imgbox.com/37/ad/lWE3EaLm_o.png);
    --award-tooltip: "is a simp";
}
.love {
    --award-image: url(https://images2.imgbox.com/bd/20/Ay2JfWAK_o.png);
    --award-tooltip: "in love";
}

.engaged {
    --award-image: url(https://images2.imgbox.com/ff/27/PvSuskPC_o.png);
    --award-tooltip: "engaged";
}
.married {
    --award-image: url(https://i.servimg.com/u/f17/20/56/04/31/rings10.png);
    --award-tooltip: "married";
}

.cheated {
    --award-image: url(https://images2.imgbox.com/04/10/3DWH59jw_o.png);
    --award-tooltip: "cheated";
}

.mommy {
    --award-image: url(https://images2.imgbox.com/b1/39/EeAxc5p2_o.png);
    --award-tooltip: "mommy issues";
}

.daddy {
    --award-image: url(https://images2.imgbox.com/19/a7/SWY7byQX_o.png);
    --award-tooltip: "daddy issues";
}

.parent {
    --award-image: url(https://images2.imgbox.com/11/f7/LVneTQst_o.png);
    --award-tooltip: "parent";
}

/**SKILLS**/

.hunter {
    --award-image: url(https://images2.imgbox.com/16/42/EMOj1BEa_o.png);
    --award-tooltip: "hunter";
}
.swordsman {
    --award-image: url(https://images2.imgbox.com/36/18/xWH6iGrA_o.png);
    --award-tooltip: "swordsman";
}
/**BENDING**/

.metal {
    --award-image: url(https://images2.imgbox.com/c0/89/0jHAGYTr_o.png);
    --award-tooltip: "metalbender";
}

.lightning {
    --award-image: url(https://images2.imgbox.com/14/e5/IUybRKeW_o.png);
    --award-tooltip: "lightningbender";
}

.blood {
    --award-image: url(https://images2.imgbox.com/eb/4d/ulVcumWn_o.png);
    --award-tooltip: "bloodbender";
}

/**STATUS**/

.peasant {
    --award-image: url(https://images2.imgbox.com/f3/cc/UQfrCM7W_o.png);
    --award-tooltip: "peasant";
}

.nobility {
    --award-image: url(https://images2.imgbox.com/03/9e/XQPzSLch_o.png);
    --award-tooltip: "nobilty";
}

.royalty {
    --award-image: url(https://images2.imgbox.com/cc/ee/NtP0pcfx_o.png);
    --award-tooltip: "royalty";
}

/**TRAITS**/

/**FEARS**/

/**EVENTS**/

/**MISC**/

.pet {
    --award-image: url(https://images2.imgbox.com/a5/f2/fbQQsNma_o.png);
    --award-tooltip: "pet owner";
}

.mount {
    --award-image: url(https://images2.imgbox.com/cb/5f/NNaOCGhx_o.png);
    --award-tooltip: "has a mount";
}
