

.eventbase {
    background: var(--eventgrad);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000000;
    border: 1px solid #5c5c5c;
    position: relative;
}

.eventend {
   background: var(--backgroundrgb);
   padding: 10px;
   font-weight: 700;
   font-family: 'Radio Canada Big';
   text-transform: uppercase;
   text-align: center;
   border-radius: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #ebebeb;
   letter-spacing: 1px;
}

.eventtit {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    font-family: Radio Canada Big;
    text-transform: uppercase;
    font-size: 50px;
    gap: 13px;
    margin-bottom: 20px;
    color: #e7e7e7;
    text-shadow: 1px 1px 3px #373737;
}

.eventtxt {
    color: #e6e6e6;
    text-shadow: 1px 1px 3px #626262;
    border-radius: 10px;
}

.eventicon {
    background-image: url(https://images2.imgbox.com/0e/fe/BRFGMX7O_o.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 200px;
    position: absolute;
    z-index: 1;
    filter: contrast(0.5) brightness(1.5);
    mix-blend-mode: soft-light;
    margin-left: 506px;
    margin-top: -49px;
    background-position: 15px -30px;
    opacity: 0.2;
}
