.fancy {
    font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.normal {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
}

.messy {
  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  font-style: normal;
}

.wl-letter {
        background: #cac6c0;
    width: 650px;
    padding: 40px;
    font-size: 15px;
    color: #6c4c4c;
    text-align: justify;
    line-height: 150%;
}

.wl-letter-flex {
      display: flex;
    gap: 45px;
}

.wl-letter-intro {
    font-size: 40px;
    width: 400px;
    display: flex;
    align-items: center;
}

.wl-letter-seal {
    background: var(--default);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid rgb(230 230 230 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid #bfbfbf;
}

.wl-letter-icon {
    background-image: var(--elementicon);
    width: 74px;
    height: 82px;
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: .3;
    background-position: center;
}

.wl-letter-txt {
    border: 6px double #9d9492;
    padding: 35px;
}
